/* Nav styles */
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
/* shared style */
.text-primary{
    color:#FD6E0A;
  
}
.dark-2{
    color:#474747;
}
.dark-3{
    color:#757575;
    font-size: 18px;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: 700;
    color: white;
    padding: 18px 35px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color:#757575;
}
.secondary-bg{
    background: #FFF8F3;
}
.header{
    background-image: url(./images/developer.png),url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}

/* nav style */
nav{
    display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
} 

nav ul{
    display: flex;
    align-items: center;
    
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.bannar{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.bannar-content{
    max-width: 580px;
}
.bannar-greetings{
    font-size: 45px;
    font-weight: 600;
}
.bannar-title{
    font-weight: bold;
    font-size: 85px;
}
.bannar-profile{
    width: 580px;
}
/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
.about{
border-radius: 10px;
padding: 130px 150px;
text-align: center;

}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
}
.text-center{
    text-align: center;
}
.skill-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
 
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
}
.resume-container{
    display: flex;
    gap: 24px;
   
    
}

.experience-description{
    color: #757575;
    font-size: 16px;
}
.experience-sub-title{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experience-title{
    color:#474747;
    font-size: 25px;
}
.resume hr{
    margin:20px 0;
}
.button-col{
    text-align: center;
    margin:30px 0px;
}
footer{
    display: flex;
    gap: 100px;
    padding: 130px 230px;
}
footer .footer-col{
    width: 50%;
 
}
footer input[type="text"],footer input[type="email"],footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    outline: none;
    font-size: 25px;
}
footer textarea{
    height: 100px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    outline: none;
    font-size: 25px;
}
.hide{
    display: none;
}
@media screen and (max-width:576px){
    .skill-container{
        flex-direction: column;
    }
    .resume-container{
        flex-direction: column;
    }
    footer{
       flex-direction: column;
       padding: 20px;
    }
    footer .footer-col{
        width: 100%;
    }
    footer input[type="text"],footer input[type="email"],footer textarea{
       width: calc((100% - 40px));
    }
    .about{
       padding: 20px;
        
        }
        .about-items{
            flex-direction: column;
        }
  
}